.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form label {
  font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #071952;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-signup-link {
  margin-top: 10px;
  text-align: center;
}

.login-signup-link a {
  color: #007bff;
  text-decoration: none;
}

.login-signup-link a:hover {
  text-decoration: underline;
}
